# byte-compiled / optimized / python files
__pycache__/
*.pyc
*~
*.py[cod]

# tests and coverage
*.pytest_cache
.coverage

# database & logs
*.db
*.sqlite3
*.log
db.sqlite3

# Env
env
venv
.env
myvenv/
venv/

# macOS
._*
.DS_Store
.fseventsd
.Spotlight-V100

# others
TODO.txt
CHANGELOG.md

# Windows
Thumbs.db*
ehthumbs*.db
[Dd]esktop.ini
$RECYCLE.BIN/

# javascript
package.json

# Static folder at project root
/static/
staticfiles/*
!staticfiles/.gitkeep 
.vscode/symbols.json

apps/static/

# Visual Studio
.vscode/
.history/
*.code-workspace